{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}GP Plateforme{% endblock %}</title>

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-responsive.css">    
    
  {% endblock %}
</head>

<body>
	<div class="container">
   		<header class="jumbotron">
    		<h1>Client Plateform</h1>
    		<p>Ce projet est propulsé par Symfony2,et construit grâce au MOOC OpenClassrooms et SensioLabs.</p>
      		<p><a class="btn btn-primary btn-lg" href="http://www.garagedesplanches.ch">Visiter le site de l'entreprise »</a></p>
    	</header>

    	<div class="row">
      		<nav class="col-sm-3">
        		<h3>Menu</h3>
        			<ul class="nav nav-pills nav-stacked">
          				<li><a href="{{ path('gp_platform_home') }}">Accueil</a></li>
          				<li><a href="{{ path('gp_platform_add') }}">Ajouter un client</a></li>
          				<li><a href="{{ path('gp_platform_viewAll') }}">Mes clients</a></li>
          				<li><a href="{{ path('gp_platform_addBill') }}">Ajouter une facture</a></li>
          				<li><a href="{{ path('gp_platform_viewBills') }}">Mes Factures</a></li>
          				
        			</ul>
       		</nav>
     
     		<section class="col-sm-9">
		    	{% block body %}
		  		{% endblock %}
		  	</section>
  	
    		<hr>
   		</div>
	</div>
  

  
  	<footer class="footer">
      	<div class="container">
        	<p class="text-muted">The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
      	</div>
	</footer>
  
  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.js"></script>
  {% endblock %}

</body>
</html>