{# src/GP/PlatformBundle/Resources/views/Customer/search.html.twig #}

{% extends "GPPlatformBundle::layout.html.twig" %}

{% block title %}
  Search - {{ parent() }}
{% endblock %}

{% block gpplatform_body %}

	<h2>Liste des clients : </h2>
 
	<form action="{{ path('gp_platform_search') }}" method="post">
  		<input id="search" type="text" name="search">
  		<input type="submit" value="Chercher" class="btn btn-danger" />
	</form>
	
	<br/>
	
	<div id="customers">
	
	</div>
  
	{% if customers != null %}
	<table class="table table-striped">
  		<tr>
  			<th>#</th>
  			<th>Nom</th>
  			<th>Prénom</th>
  			<th>Adresse</th>
  			<th>Code postal</th>
  			<th>Ville</th>
  		</tr>
  		
  		{% for customer in customers %}
  		<tr>
    		<td><a href="{{ path('gp_platform_view', { 'id': customer.id }) }}">{{ customer.id }}</a></td>
    		<td>{{ customer.lastname }}</td>
    		<td>{{ customer.firstname }}  </td>
    		<td>{{ customer.address }}</td>
    		<td>{{ customer.cp }}</td>
    		<td>{{ customer.city }}</td>
  		</tr>
  		{% endfor %}
	</table>
	{% else %}
    	<p>Pas d'utilisateur trouvé.</p>
     {% endif %}
    
  

 

{% endblock %}