{# src/GP/PlatformBundle/Resources/views/Customer/view.html.twig #}

{% extends "GPPlatformBundle::layout.html.twig" %}

{% block title %}
  Client - {{ parent() }}
{% endblock %}

{% block gpplatform_body %}

	<h2>Détail du client : </h2>
	<div class="row">
  		<div class="col-md-6">
			<p>ID Client : {{ customer.id }}</p>
			<p>Titre : {{ customer.title.name }}</p>
			<p>Nom : {{ customer.lastname }}</p>
			<p>Prénom : {{ customer.firstname }}</p>
			<p>Adresse : {{ customer.address }}</p>
			<p>{{ customer.cp }} {{ customer.city }}</p>
			<p>Téléphone 1 : {{ customer.tel1 }}</p>
			<p>Téléphone 2 : {{ customer.tel2 }}</p>
		</div>
		
		
		<div class="col-md-6">
			{% if customer.image == null %}
    			 <p align="center" valign="top"><img src="{{ asset('uploads/profil-HOM.png')}}" alt="" width="60%" /></p>
  			{% else %}
  				<p align="center" valign="top"><img src="{{ asset('uploads/documents/' ~ customer.image.path) }}" alt=""  width="60%" /></p>
			{% endif %}
		</div>
  
  </div>
  
  <a class="btn btn-primary" href="{{ path('gp_platform_edit', { 'id': customer.id }) }}">Modifier les données</a>
    
  <a class="btn btn-primary" href="{{ path('gp_platform_uploadImage', { 'id': customer.id }) }}">Modifier l'image</a>
    
  <a class="btn btn-danger" href="{{ path('gp_platform_delete', { 'id': customer.id }) }}">Supprimer le client</a>

 
  {{ include("GPPlatformBundle:Car:view.html.twig") }}
  
    <a class="btn btn-primary" href="{{ path('gp_platform_addCar', { 'id': customer.id }) }}">Ajouter une voiture</a>
  

{% endblock %}